workflow.json.json
{
  "name": "Sistema de pedidos",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        16
      ],
      "id": "c77d0bf1-3b4e-4909-9a74-71aaf56433db",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc",
          "mode": "list",
          "cachedResultName": "Pedidos_sistema",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status",
              "lookupValue": "Pendente"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -192,
        16
      ],
      "id": "7fd73c19-db68-40bb-883b-235a25931089",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1B9B9yCDitlhVHIe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        112,
        16
      ],
      "id": "39ce4f7e-9ee6-400e-b14b-6aa9ff70d931",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1458198161888907334/lDQqjd25hWLcOr0f-SBXnMkws6qMSDKYvIjGSu20qa-SSHsjB88sjqjB5zjcU1F47iM5",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"content\": \"💰 Venda Nova! Cliente: {{ $json.Cliente }} - Valor: {{ $json.Valor }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        496,
        16
      ],
      "id": "3f6a5581-af19-4eb5-91aa-fe53b744b6ca",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc",
          "mode": "list",
          "cachedResultName": "Pedidos_sistema",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Página1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17tMzUW9EcGJoQCR0lQjSFDqtQllrVlrPBuG9Yy78eTc/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $('Get row(s) in sheet').item.json.ID }}",
            "Status": "Processado"
          },
          "matchingColumns": [
            "ID"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Cliente",
              "displayName": "Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Produto",
              "displayName": "Produto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Valor",
              "displayName": "Valor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Data do Pedido",
              "displayName": "Data do Pedido",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Detalhes da Entrega",
              "displayName": "Detalhes da Entrega",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        512,
        288
      ],
      "id": "9d1705e2-59eb-46be-942d-b5680b9796ca",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "1B9B9yCDitlhVHIe",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 2
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        512,
        560
      ],
      "id": "e9829e19-1bf6-46ea-9832-165f9820fc4e",
      "name": "Wait",
      "webhookId": "4abf0754-fd5d-457e-9b13-35fd687540e4"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "bdc2b3f8-a3af-4b02-81a7-6a67a01246aa",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6b23d33664222e98428b201f4253fdbf88fa8a516fbe512aa444bf5d3749f18"
  },
  "id": "UCQw7D1QwzUyECtfiSEXN",
  "tags": []
}